body.master
{
    background-image: none;
    background-color: darkgray;
    color: darkslategray;
}
div.titlePane {
    position: absolute;
    float: right;
    top: 5px;
    left: 45%;
    z-index:5;
    background-color: white;
    padding: 20px;
    border-radius: 4px;
    opacity: 0.9;
    font-size: 22px;
}
div.application, 
div.leaflet-map
{
    height: 100%;
    width: 100%;
}